body {overflow: hidden;}
footer  {          
    width: 100%;
    text-align: center; 
    color: #fff;  
    overflow: hidden;
    
}           
a img {
    display: inline-block;
    
    text-decoration: none;
    font-size: 35px;
  
    
    border-radius: 50%;
    
    width: 50px;
    height: 50px;

    line-height: 55px;
  }
