 .--texto-inclinado {
font-style: oblique;
font-variant-caps: small-caps;
}
/*bloques*/
body {
overflow-x: hidden;
width: 100%;
margin: 0;
padding: 0;
background: -moz-linear-gradient(
    45deg,
    rgba(58, 28, 113, 1) 0%,
    rgba(201, 103, 113, 1) 50%,
    rgba(255, 175, 123, 1) 100%
  ); /* ff3.6+ */
background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, rgba(58, 28, 113, 1)),
    color-stop(50%, rgba(201, 103, 113, 1)),
    color-stop(100%, rgba(255, 175, 123, 1))
  ); /* safari4+,chrome */
background: -webkit-linear-gradient(
    45deg,
    rgba(58, 28, 113, 1) 0%,
    rgba(201, 103, 113, 1) 50%,
    rgba(255, 175, 123, 1) 100%
  ); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(
    45deg,
    rgba(58, 28, 113, 1) 0%,
    rgba(201, 103, 113, 1) 50%,
    rgba(255, 175, 123, 1) 100%
  ); /* opera 11.10+ */
}
.nav {
z-index: 1;
display: flex;
width: 100%;
}
.menu-list {
display: flex;
margin: 0;
padding: 0;
list-style: none;

}
.menu-list:nth-child(1){justify-content: flex-start;}

.menu-list:nth-child(1) .menu__item:hover{
  text-decoration: none;
  cursor: none;}

.menu-list:nth-child(2){justify-content: flex-end;
justify-content: space-between;
width: 80%;
padding: 3% 5% 0% 0%;}


.menu__item:hover {
cursor: pointer;
text-decoration: underline;
color: #fff;
}
.item__link {
text-decoration: none;
color: #fff;
}
/*estilos foto */
.link__icon {
width: 10%;
height: 10%;
z-index: 0;
border-bottom-right-radius: 20%;
}
/*estilos titulo */
.link__titulo {
font-style: italic;
text-transform: capitalize;
color: white;
}
.Dowload-Curriculum {
  left: 35%;
  top: 15%;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  text-decoration: none;
}
.Dowload-Curriculum:hover{text-decoration: underline;cursor: pointer;}

.sobremi{ 
  width: 80%;
    position: absolute;
    left: 15%;  top:  15%;
    text-decoration: overline;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
}


@media(max-width:620px){

      .sobremi{      
  left: -100%;      
}
  .nav{display: block;}
  .section-info{display: flex; flex-direction: column; }
  .section-list{ width: 80%; border-bottom: solid 01px #fff;}

}
@media(min-width:320px){

}

@media(max-width:768px){
    .Dowload-Curriculum{
      position: relative; 
      left: 0%;}
    .sobremi{
      top: 15%; 
      white-space: wrap;
          text-overflow: ellipsis;
      overflow: auto;
      }
}

.section-info {
  color: white;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.5;
overflow: auto;
}
.section-list {
  list-style: none;
  border-left: solid 1px;
}
.section-subtitulos {
  text-decoration: underline;
}
/*.section__item {}*/
.item_link {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border-top-right-radius: 25%;
}

/*.footer {}*/
#footer {
  width: 100%;
}
